dist
node_modules
.DS_Store

# Python
__pycache__/
*.py[cod]
*$py.class
*.so
.Python
venv/
env/
ENV/

# Database
*.db
*.db-journal
*.sqlite
*.sqlite3

# Environment variables
.env

# Backup files
*.backup
